.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 280vh;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.progress {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2em;
  display: inline-block;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.progress::-moz-progress-bar {
  border-radius: 20px;
  background-color: green;
}

.progress::-webkit-progress-value {
  border-radius: 20px;
  background-color: pink;
}

.contact {
  align-self: start;
  z-index: 500;
  margin: 25px 50px;
  color: black;

  @media (max-width: 375px) {
    margin: 25px 25px;
  }
}

.heroText {
  position: absolute;
  left: 50px;
  top: 40%;
  font-size: 4em;
  display: inline-block;
  z-index: 500;
  white-space: pre-line;
  color: black;

  @media (max-width: 1250px) {
    font-size: 3em;
  }

  @media (max-width: 768px) {
    font-size: 2em;
  }

  @media (max-width: 375px) {
    left: 25px;
  }
}

.textBlock {
  position: absolute;
  top: 100vh;
  left: 50px;
  z-index: 500;
  font-size: 3em;
  padding: 25px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  color: black;

  @media (max-width: 1250px) {
    font-size: 2em;
  }

  @media (max-width: 375px) {
    font-size: 1em;
    left: 25px;
  }
}

.companiesText {
  position: absolute;
  top: 189vh;
  left: 50%;
  z-index: 500;
  font-size: 3em;
  /* color: black; */
}
@media (max-width: 1550px) {
  .companiesText {
    font-size: 2em;
    left: 26%;
  }
}

@media (max-width: 768px) {
  .companiesText {
    font-size: 1.5em;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 375px) {
  .companiesText {
    width: 297px;
    font-size: 1.2em;
  }
}

.portifolioGrid {
  position: absolute;
  top: 195vh;
  left: 50%;
  z-index: 500;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1550px) {
  .portifolioGrid {
    left: 25%;
  }
}

@media (max-width: 768px) {
  .portifolioGrid {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  .portifolioGrid a {
    max-width: 300px;
  }
}

.card {
  font-size: medium;
}
